{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>{% block title %}Add Entry{% endblock %}</title>

    <style>
        html body div.container.contact-form form.mt-5 div.ql-container.ql-snow {
            height: 300px;
        }
        body {
            font-family: 'Vollkorn', serif;
        }
        .navbar .auth-buttons .btn + .btn {
            margin-left: 0.5rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex align-items-center">
        <a class="navbar-brand mb-0" href="{% url 'entry' %}">Diary App</a>
        <div class="auth-buttons d-none d-lg-flex align-items-center ml-3">
            {% if request.user.is_authenticated %}
                <span class="text-muted mr-3">Hello, {{ request.user.last_name|default:request.user.first_name|default:request.user.username }}!</span>
                <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a class="btn btn-primary btn-sm mr-2" href="{% url 'login' %}">Log in</a>
                <a class="btn btn-primary btn-sm" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-3 {% if add_highlight %}active{% endif %}" href="{% url 'productivity' %}">
                    <hr class="d-xl-none d-lg-none">
                    <img src="{% static 'icons/chart-line-solid.svg' %}" height="30" width="30" alt="Productivity Chart">
                    <span class="d-xl-none d-lg-none">&nbsp; Productivity Chart</span>
                    <hr class="d-xl-none d-lg-none">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if add_highlight %}active{% endif %}" href="{% url 'entry' %}">
                    <img src="{% static 'icons/plus-square-solid.svg' %}" height="30" width="30" alt="Add Diaries">
                    <span class="d-xl-none d-lg-none">&nbsp; Add Diaries</span>
                    <hr class="d-xl-none d-lg-none">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if show_highlight %}active{% endif %}" href="{% url 'show' %}">
                    <img src="{% static 'icons/book-solid.svg' %}" height="30" width="30" alt="Show Diaries">
                    <span class="d-xl-none d-lg-none">&nbsp; Show Diaries</span>
                    <hr class="d-xl-none d-lg-none">
                </a>
            </li>
            <li class="nav-item d-lg-none mt-3">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary btn-block" href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a class="btn btn-primary btn-block mb-2" href="{% url 'login' %}">Log in</a>
                    <a class="btn btn-primary btn-block" href="{% url 'signup' %}">Sign up</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">{{ subtitle }}</p>
    </div>
</div>

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags|default:'info' }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% block content %}{% endblock %}

<a class="fixed-bottom mb-3 mr-3" href="https://github.com/theArjun/diary-app" target="_blank" rel="noopener">
    <button class="btn btn-light rounded text-dark float-right shadow">
        <span class="mr-2">View on GitHub</span>
        <img class="mb-1" height="26"
             src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
             alt="GitHub logo">
    </button>
</a>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
